:root {
    --background-primary: #faf8f3;
    --background-secondary: #EFEDE5;

    --border-primary: #e5e1d8;

    --text-primary: #16181a;
    --text-secondary: #5d5b56;

    --button-primary-background: #16181a;
    --button-secondary-background: #5d5b56;
    --button-primary-text: #faf8f3;
    --button-secondary-text: #faf8f3;

    --accent-primary: #afd934;
}